<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Budget Setup
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addExpense()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="setup-expenses-container">
  <ion-card class="add-expense-container">
    <ion-card-header>
      <div class="add-expense-title">Now lets add your monthly expenses.</div>
    </ion-card-header>
    <ion-card-content>
      <div class="form-control" [formGroup]="expenseForm">
        <ion-item class="expense-category">
          <ion-select [formControl]="expenseForm.controls['category']" required [placeholder]="'Category'" interface="popover">
            <ion-option *ngFor="let category of categories" [value]="category">{{category.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select [formControl]="expenseForm.controls['type']" required [placeholder]="'Type'" interface="popover">
            <ion-option *ngFor="let type of types" [value]="type">{{type.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="text" [formControl]="expenseForm.controls['name']" required [placeholder]="'Name of Expense'"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Amount $</ion-label>
          <ion-input [formControl]="expenseForm.controls['amount']" required type="number"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="expense-container">
    <ion-list>
      <ion-item *ngFor="let expense of expenses">
        {{expense.category.name}} | {{expense.name}} | ${{expense.amount}}
        <button ion-button icon-only (click)="removeExpense(expense)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <button ion-button [disabled]="!expenses.length">Next</button>
  </div>
</ion-content>
